---
interface Props {
	type: "submit" | "reset" | "button",
    dataBsToggle?: string,
    dataBsTarget?: string,
    name?: string,
    value?: string,
    title: string,
}

const { type, dataBsToggle, dataBsTarget, name, value, title } = Astro.props
---

<button 
    type{type} 
    class="btn btn-ghost-primary"
    data-bs-toggle={dataBsToggle} 
    data-bs-target={dataBsTarget}
    name={name}
    value={value}
    title={title}
>
    {title}
</button>
