---
interface Props {
    dataToastType: string,
    bgColorClass: string,
    textColorClass: string,
    icon: string,
    msg: string,
    msgError?: string,
    btnCloseColorClass?: string
}

const { dataToastType, bgColorClass, textColorClass, icon, msg, msgError, btnCloseColorClass} = Astro.props
---

<div class="toast-container toast-app">
    <div 
        data-toast-type={dataToastType}             
        class="toast" 
        role="alert" 
        aria-live="assertive" 
        aria-atomic="true" 
    >
        <div class={bgColorClass}>
            <div class={textColorClass}>
                <div class="d-flex">
                    <div class="toast-body d-flex align-items-center gap-2">
                        <div class="fs-4">
                            <i class={icon}></i>
                        </div>
                        <strong>
                            <span>{msg}</span>
                        </strong>
                    </div>

                    <button 
                        type="button" 
                        class={`btn-close ${btnCloseColorClass} me-2 m-auto`}
                        data-bs-dismiss="toast" 
                        aria-label="Close"
                    >
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .toast-container.toast-app{
        position: fixed;
        top: 0;
        right: 0;
        padding: 1rem;
    }
    .toast-container.toast-app .toast{
        align-items: center;
        border: 0;
        --bs-toast-max-width: 650px;
    }
</style>

<script is:inline>
    document.addEventListener('DOMContentLoaded', function () {
        const toastStatus = localStorage.getItem('toastStatus');
        
        if (toastStatus) {
            const toastElements = document.querySelectorAll(`[data-toast-type="${toastStatus}"]`);
            toastElements.forEach(toastElement => {
                const toast = new bootstrap.Toast(toastElement);
                toast.show();
            });
            localStorage.removeItem('toastStatus');
        }
    });
</script>