---
import { allProducts } from '@data/products.js'
---

<article class="splide splide-default mb-4" id="splide-produtos-index">
    <div class="splide__track">
        <ul class="splide__list">
            {
                allProducts.map(item => (
                    <li class="splide__slide item-box-mask">
                        <h4 class="mb-0">{item.title}</h4>
                        <p class="mb-1">{item.subtitle}</p>

                        <div class="item-inner shadow text-center bg-white">
                            <div role="button" data-bs-toggle="modal" data-bs-target={`#${item.target}`}>
                                <img class="img-fluid" src={item.image} alt={item.alt} />

                                <div class="mask pe-none">
                                    <div class="mask-inner">
                                        <p class="content-title">{item.title}</p>
                                        <p class="content-desc">{item.subtitle}</p>

                                        <div class="d-flex gap-2">
                                            <button type="button" class="btn btn-primary btn-cta pe-auto">Saiba +</button>

                                            {/* <a class="btn btn-primary btn-cta pe-auto" href={item.linkShopify} target="_blank">
                                                <i class="bi bi-bag-check"></i>
                                                <span class="ms-1">Comprar</span>
                                            </a> */}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                ))
            }
        </ul>
    </div>
</article>

<script is:inline>
	addEventListener('load', () => {
		new Splide( '#splide-produtos-index', {
			gap    : '1.5rem',

			padding: {
				right: '2rem',
				left : '2rem',
			},

			perPage: 3,
			rewind : true,

			breakpoints: {
				1500: {
					perPage: 3,
				},
				1000: {
					perPage: 2,
				},
				768: {
					perPage: 1,
				},
			}
		}).mount();
	})
</script>
